---
version: "3"
services:
  ghost:
    image: ghost:latest@sha256:0c70f4153a05e875c046bf2a763ecd1d47ff403ba2b35c3af5a3fcbe76ded772
    volumes:
      - "{{ docker_volume_dirs.ghost[0] }}/config.production.json:/var/lib/ghost/config.production.json"
      - "{{ docker_volume_dirs.ghost[1] }}:/var/lib/ghost/content"
      - "{{ docker_volume_dirs.ghost[2] }}:/var/lib/ghost/node_modules"
    ports:
      - "{{ compose_project_ports[0] }}:2368"
    restart: always
  promtail:
    image: grafana/promtail:latest@sha256:2aafa34b3d5fba888c51081d3a22c234906ffd3cafc5def11c581549b297d449
    restart: always
    volumes:
      - /var/log/cloudflared.log:/var/log/cloudflared.log:ro
      - /var/log/journal:/var/log/journal:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - "{{ docker_volume_dirs.promtail[0] }}/config.yaml:/etc/promtail/config.yaml"
    command: -config.file=/etc/promtail/config.yaml
