export BOOTSTRAP_GIT_REPOSITORY="https://github.com/jon77p/infrastructure"
# Personal pgp key
export BOOTSTRAP_PERSONAL_KEY_FP=""
# Flux pgp key
export BOOTSTRAP_FLUX_KEY_FP=""

# Cloudflare Access Service Token
export CLOUDFLARE_ACCESS_SERVICE_TOKEN_ID=""
export CLOUDFLARE_ACCESS_SERVICE_TOKEN_SECRET=""
