source .venv/bin/activate
unset PS1
export PATH=$PWD/node_modules/.bin:$PATH

export GPG_TTY=$(tty)
export NODE_OPTIONS="$NODE_OPTIONS --max-old-space-size=2048"
export GITGUARDIAN_API_KEY="op://Infrastructure/gitguardian/credentials/token"
source $(expand_path ./.config.env)
