[submodule "code-server/code-server"]
	path = code-server/code-server
	url = https://github.com/cdr/code-server
[submodule "k8s/code-server/code-server"]
	path = k8s/code-server/code-server
	url = https://github.com/cdr/code-server
