[defaults]
inventory = ansible/hosts.yaml
interpreter_python = auto
vault_password_file = ansible/files/vault-password

[ssh_connection]
host_key_checking = False
ssh_args = -F ssh.cfg
control_path = ~/.ssh/mux-%r@%h:%p

[kubernetes.core]
kubeconfig = ansible/kubeconfig
