[defaults]
inventory = ansible/hosts.yaml
interpreter_python = python3
vault_password_file = ansible/getVaultPassword.sh
timeout = 30

[ssh_connection]
host_key_checking = False
control_path = /tmp/ansible-ssh-%h-%p-%r
pipelining = True
ssh_args = -F ssh.cfg
retries = 3
timeout = 30

[kubernetes.core]
kubeconfig = ansible/kubeconfig

[persistent_connection]
connect_timeout = 60
