ControlMaster auto
ControlPersist 600s
ControlPath /tmp/ansible-ssh-%h-%p-%r

Host vault
  ProxyCommand tailscale nc %h 22
  # ProxyCommand ssh $(tailscale ip -4 %h)
  # Host $(tailscale ip -4 %h)

Host monitoring
  ProxyCommand tailscale nc %h 22
  # ProxyCommand ssh $(tailscale ip -4 %h)
  # Host $(tailscale ip -4 %h)
