[global]
sonarr_server_ids = 1
radarr_server_ids = 1
lidarr_server_ids = 1
tautulli_server_ids = 1
ombi_server_ids = 1
sickchill_server_ids = false
unifi_server_ids = false
maxmind_license_key = {{ varken.maxmind.license_key }}

[influxdb]
url = "influxdb"
port = {{ influxdb.internal_port }}
ssl = false
verify_ssl = false
username = {{ influxdb.username }}
password = {{ influxdb.password }}

[tautulli-1]
url = {{ varken.tautulli[0].url }}
fallback_ip = 1.1.1.1
apikey = {{ varken.tautulli[0].apikey }}
ssl = true
verify_ssl = false
get_activity = true
get_activity_run_seconds = 30
get_stats = true
get_stats_run_seconds = 3600

[sonarr-1]
url = {{ varken.sonarr[0].url }}
apikey = {{ varken.sonarr[0].apikey }}
ssl = true
verify_ssl = false
missing_days = 7
missing_days_run_seconds = 300
future_days = 1
future_days_run_seconds = 300
queue = true
queue_run_seconds = 300

[radarr-1]
url = {{ varken.radarr[0].url }}
apikey = {{ varken.radarr[0].apikey }}
ssl = true
verify_ssl = false
queue = true
queue_run_seconds = 300
get_missing = true
get_missing_run_seconds = 300

[lidarr-1]
url = {{ varken.lidarr[0].url }}
apikey = {{ varken.lidarr[0].apikey }}
ssl = true
verify_ssl = false
missing_days = 30
missing_days_run_seconds = 300
future_days = 30
future_days_run_seconds = 300
queue = true
queue_run_seconds = 300

[ombi-1]
url = {{ varken.ombi[0].url }}
apikey = {{ varken.ombi[0].apikey }}
ssl = true
verify_ssl = false
get_request_type_counts = true
request_type_run_seconds = 300
get_request_total_counts = true
request_total_run_seconds = 300
get_issue_status_counts = true
issue_status_run_seconds = 300
