---
version: "3"
services:
  nextclouddb:
    image: mariadb:latest@sha256:8c15c3def7ae1bb408c96d322a3cc0346dba9921964d8f9897312fe17e127b90
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=mysqld-bin --binlog-format=ROW --innodb-file-per-table=1 --skip-innodb-read-only-compressed
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_USER: "{{ mysql.username }}"
      MYSQL_PASSWORD: "{{ mysql.password }}"
      MYSQL_DATABASE: "{{ mysql.database }}"
    volumes:
      - "{{ docker_volume_dirs.nextclouddb[0] }}:/var/lib/mysql"
    networks:
      - nextcloud
  nextcloud:
    image: nextcloud:latest@sha256:9695fcbc0897efd341e7ee6d45d8fa45aab09b1e126b49b18a2b430b0b4c0490
    volumes:
      - "{{ docker_volume_dirs.nextcloud[0] }}:/var/www/html"
      - "{{ docker_volume_dirs.nextcloud[1] }}:/var/www/html/data"
    ports:
      - "{{ compose_project_port }}:80"
    environment:
      PUID: "{{ rclone_mount_uid }}"
      PGID: "{{ rclone_mount_gid }}"
      MYSQL_HOST: nextclouddb
      MYSQL_DATABASE: "{{ mysql.database }}"
      MYSQL_USER: "{{ mysql.username }}"
      MYSQL_PASSWORD: "{{ mysql.password }}"
      MAIL_FROM_ADDRESS: nextcloud
      MAIL_DOMAIN: "{{ cloudflare_dns_records[0].record }}"
      SMTP_HOST: "{{ nextcloud.smtp.host }}"
      SMTP_PORT: "{{ nextcloud.smtp.port }}"
      SMTP_NAME: "{{ nextcloud.smtp.username }}"
      SMTP_PASSWORD: "{{ nextcloud.smtp.password }}"
      SMTP_SECURE: "{{ nextcloud.smtp.secure }}"
      NEXTCLOUD_ADMIN_USER: "{{ nextcloud.admin.username }}"
      NEXTCLOUD_ADMIN_PASSWORD: "{{ nextcloud.admin.password }}"
      NEXTCLOUD_TRUSTED_DOMAINS: "{{ cloudflare_dns_records[0].record }}"
      OVERWRITEPROTOCOL: https
      OVERWRITEHOST: "{{ cloudflare_dns_records[0].record }}"
    networks:
      - nextcloud
      - web
    restart: always
    healthcheck:
      test: [CMD, curl, "{{ healthchecks.healthcheck }}"]
      timeout: 45s
      interval: "{{ healthchecks_defaults.ping.interval }}s"
      retries: 5
  promtail:
    image: grafana/promtail:latest@sha256:bf974baae8f2dbd06aaa58d9e70e38485e9c3337103eea19bbe555238f9eef3d
    restart: always
    volumes:
      - /var/log/cloudflared.log:/var/log/cloudflared.log:ro
      - /var/log/journal:/var/log/journal:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - "{{ docker_volume_dirs.promtail[0] }}/config.yaml:/etc/promtail/config.yaml"
    command: -config.file=/etc/promtail/config.yaml

networks:
  nextcloud:
    attachable: true
  web:
    external: true
