---
version: "3"

includes:
  secrets: ../secrets
  direnv: direnv/Taskfile_{{OS}}.yml
  githubcli: githubcli/Taskfile_{{OS}}.yml
  cloudflared: cloudflared/Taskfile_{{OS}}.yml

tasks:
  setup:
    cmds:
      - task: pip
      - task: yarn
      - task: githubcli:setup
      - task: cloudflared:setup
      - task: direnv:setup
      - task: secrets:setup
      - task: pre-commit
  virtualenv:
    cmds:
      - virtualenv .venv
    generates:
      - .venv/bin/activate
    status:
      - test -d .venv
      - test -f .venv/bin/activate
  pip:
    cmds:
      - task: virtualenv
      - .venv/bin/python3 -m pip install -r requirements.dev.txt
  pre-commit:
    cmds:
      - task: pip
      - .venv/bin/pre-commit install -f
  yarn:
    cmds:
      - yarn install
    generates:
      - node_modules
    status:
      - test -d node_modules
  ansible:
    cmds:
      - task: pip
      - >-
        .venv/bin/ansible-galaxy role install -r requirements.yml &&
        .venv/bin/ansible-galaxy collection install -r requirements.yml
