---
compose_project_name: "vault"
docker_volume_dirs:
  vault:
    - path: "/mnt/{{ compose_project_name }}/config"
    - path: "/mnt/{{ compose_project_name }}/file"
    - path: "/mnt/{{ compose_project_name }}/logs"
    - path: "/mnt/{{ compose_project_name }}/plugins"
  opconnect:
    - path: "/mnt/op-connect"
