---
services:
  vault:
    image: hashicorp/vault:latest@sha256:f4e2687b72858a9e2160c344c9fa1ef74c07f21a89a8c00534ab64d3f187b927
    volumes:
      - "{{ docker_volume_dirs.vault[0].path }}:/vault/config"
      - "{{ docker_volume_dirs.vault[1].path }}:/vault/file"
      - "{{ docker_volume_dirs.vault[2].path }}:/vault/logs"
      - "{{ docker_volume_dirs.vault[3].path }}:/vault/plugins"
    ports:
      - "{{ vault.port }}:{{ vault.internal_port }}"
    cap_add:
      - IPC_LOCK
    restart: always
    command: [vault, server, -config, /vault/config/config.hcl]
  opconnect_api:
    image: 1password/connect-api:latest@sha256:8fe7bcd50c9e73899e0a1aa5aa43421ca75fbceacb33dd07f6418c4116e637a1
    volumes:
      - "{{ docker_volume_dirs.opconnect[0].path }}/1password-credentials.json:/home/opuser/.op/1password-credentials.json"
      - data:/home/opuser/.op/data
    ports:
      - "{{ opconnect.api.port }}:{{ opconnect.api.internal_port }}"
    restart: always
  opconnect_sync:
    image: 1password/connect-sync:latest@sha256:d5e937b2b7e314dbbaffacf469dc8f30376b5954a3ad836c8d96e6cb579d7fab
    volumes:
      - "{{ docker_volume_dirs.opconnect[0].path }}/1password-credentials.json:/home/opuser/.op/1password-credentials.json"
      - data:/home/opuser/.op/data
    ports:
      - "{{ opconnect.sync.port }}:{{ opconnect.sync.internal_port }}"
    restart: always

volumes:
  data:
