---
- name: Get 1Password secrets
  hosts: localhost,authentik
  vars:
    opconnect_items:
      authentik:
        - authentik_bootstrap_email
        - authentik_bootstrap_password
        - authentik_secret_key
        - postgres_password
        - email_host
        - email_port
        - email_username
        - email_password
      tsidp:
        - client_secret
  roles:
    - opconnect

- name: Setup authentik
  hosts: authentik
  become: true
  roles:
    - common
    - iptables
    - docker
