---
version: "3"

services:
  crafty:
    image: registry.gitlab.com/crafty-controller/crafty-4:latest@sha256:3e1bfcc48fc510b8a2dbca0b3ada4ab8fed721d62f8daf840f12fadbf2294eee
    restart: always

    # Adjust as needed; if this is too short, stopping the container
    #  may corrupt map data
    stop_grace_period: 10m

    environment:
      - TZ=Etc/UTC
    ports:
      - "{{ gaming.crafty.ports.https }}:8443" # HTTPS
      - "{{ gaming.crafty.ports.dynmap }}:8123" # DYNMAP
      - "{{ gaming.crafty.ports.bedrock }}:19132/udp" # BEDROCK
      - "{{ gaming.crafty.ports.minecraft }}:25500-25600" # MC SERV PORT RANGE
    volumes:
      - "{{ docker_volume_dirs.crafty[0] }}:/crafty/backups"
      - "{{ docker_volume_dirs.crafty[1] }}:/crafty/logs"
      - "{{ docker_volume_dirs.crafty[2] }}:/crafty/servers"
      - "{{ docker_volume_dirs.crafty[3] }}:/crafty/app/config"
      - "{{ docker_volume_dirs.crafty[4] }}:/crafty/import"
      - "{{ docker_volume_dirs.crafty[5] }}/default.json:/crafty/default.json"
    healthcheck:
      test: [CMD, curl, "{{ healthchecks.healthcheck }}"]
      timeout: 45s
      interval: "{{ healthchecks_defaults.ping.interval }}s"
      retries: 5

  smo_online_server:
    image: ghcr.io/sanae6/smo-online-server:latest@sha256:2d4a9c13d9bf57cebc57271785e4627dd06bdc4806b924d703a9b2bc23bd2081
    restart: always

    # user: 1000:1000

    volumes:
      - "{{ docker_volume_dirs.smo_online_server[0] }}:/data"

    stdin_open: true
    ports:
      - "{{ gaming.smo_online_server.port }}:1027"
    healthcheck:
      test: [CMD, curl, "{{ healthchecks.healthcheck }}"]
      timeout: 45s
      interval: 10s
      retries: 5

networks:
  mineos:
