---
compose_project_name: auth
compose_project_port: "{{ authentik.ports.https }}"
docker_volume_dirs:
  authentik:
    - path: /mnt/{{ compose_project_name }}/media
    - path: /mnt/{{ compose_project_name }}/custom-templates
    - path: /mnt/{{ compose_project_name }}/certs
  tsidp:
    - path: /mnt/{{ compose_project_name }}/tsidp-data
      owner: 1001
      group: 1001
