---
version: "3"
services:
  healthchecks:
    image: linuxserver/healthchecks:latest@sha256:9748ad5de1a8aaede64e54d742424f2e8a92ed661814c232b333e567de40d829
    volumes:
      - "{{ docker_volume_dirs.healthchecks[0] }}:/config"
    ports:
      - "{{ compose_project_port }}:8000"
    environment:
      SITE_ROOT: https://healthchecks.{{ domain }}
      SITE_NAME: Healthchecks
      SITE_LOGO_URL: https://healthchecks.io/static/img/logo-rounded.svg
      DEFAULT_FROM_EMAIL: healthchecks@{{ domain }}
      EMAIL_HOST: "{{ healthchecks.email.host }}"
      EMAIL_PORT: "{{ healthchecks.email.port }}"
      EMAIL_HOST_USER: "{{ healthchecks.email.username }}"
      EMAIL_HOST_PASSWORD: "{{ healthchecks.email.password }}"
      EMAIL_USE_TLS: "{{ healthchecks.email.use_tls | string() }}"
      SUPERUSER_EMAIL: "{{ healthchecks.superuser.email }}"
      SUPERUSER_PASSWORD: "{{ healthchecks.superuser.password }}"
    restart: always
    healthcheck:
      test:
        [
          CMD,
          wget,
          "https://hc-ping.com/{{ healthchecks.healthcheck }}",
          -O,
          /dev/null,
        ]
      timeout: 45s
      interval: 10s
      retries: 5
