version: "3.8"

services:
  taskcafe:
    image: ghcr.io/jon77p/taskcafe:latest@sha256:2a266a81be44bf7e6457ac509d7b755074dbbb79870d6052366b8d90978aeba9
    depends_on:
      - taskcafe-postgres
      - traefik
    env_file: secrets.env
    environment:
      TASKCAFE_DATABASE_HOST: taskcafe-postgres
      TASKCAFE_DATABASE_NAME: taskcafe
      TASKCAFE_MIGRATE: "true"
    networks:
      - taskcafe-internal
      - web
    deploy:
      restart_policy:
        condition: on-failure
      labels:
        traefik.enable: "true"
        traefik.docker.network: web
        traefik.http.routers.tasks.rule: Host(`tasks-cluster.${CF_DOMAIN}`)
        traefik.http.routers.tasks.entrypoints: https
        traefik.http.routers.tasks.tls.certresolver: cloudflare
        traefik.http.services.tasks.loadbalancer.server.port: 3333

  taskcafe-postgres:
    image: postgres:18.2-alpine@sha256:035b9ab53cfa147d7202b61f5f7782b939ae815b7d6bc81c96b7b42ff1fca950
    volumes:
      - /mnt/taskcafe/postgres:/var/lib/postgresql/data
    env_file: secrets-postgres.env
    environment:
      POSTGRES_DB: taskcafe
    networks:
      - taskcafe-internal
    deploy:
      restart_policy:
        condition: on-failure

networks:
  taskcafe-internal:
    attachable: true
  web:
    external: true
