---
all:
  vars:
    ansible_become_pass: "{{ user_password }}"
    ansible_ssh_user: ubuntu
  children:
    cluster:
      children:
        controlplane:
          hosts:
            monitoring:
              ansible_host: monitoring-oci
    oci:
      children:
        services:
          hosts:
            vault:
              ansible_host: vault-oci
            authentik:
              ansible_host: auth-oci
