oci==2.179.0
dnspython==2.8.0
jmespath==1.1.0
cryptography>=48.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
