ControlMaster auto
ControlPersist 600s
ControlPath /tmp/ansible-ssh-%h-%p-%r

Include ansible/ssh.cfg

# IdentityFile ~/.ssh/oracle-terraform
# IdentityFile ~/.ssh/picluster

Host pi1
  ProxyCommand tailscale nc %h 22

Host pi2
  ProxyCommand tailscale nc %h 22

Host timemachine
  ProxyCommand tailscale nc %h 22

Host gaming
  ProxyCommand tailscale nc %h 22

Host healthchecks
  ProxyCommand tailscale nc %h 22

Host vault
  ProxyCommand tailscale nc %h 22

Host nextcloud
  ProxyCommand tailscale nc %h 22

Host firefly
  ProxyCommand tailscale nc %h 22

Host monitoring
  ProxyCommand tailscale nc %h 22

Host pihole
  ProxyCommand tailscale nc %h 22

Host allaboutsecurity
  ProxyCommand tailscale nc %h 22

Host securemylife
  ProxyCommand tailscale nc %h 22

Host stash
  Hostname 150.230.44.67
  IdentityFile ~/.ssh/oracle-stash.key

Host kube*
  ProxyCommand tailscale nc %h 22
