---
version: "3"
services:
  pihole:
    hostname: "{{ compose_project_name }}"
    image: pihole/pihole:latest@sha256:d095ec4982b6d9d6ccd95e7cf9c6c731d073d3ec4705de1d3cc1bfa4f3633e03
    volumes:
      - "{{ docker_volume_dirs.pihole[0] }}:/etc/pihole"
      - "{{ docker_volume_dirs.pihole[1] }}:/etc/dnsmasq.d"
    ports:
      - "{{ compose_project_ports.pihole[0] }}:80/tcp"
      - "{{ compose_project_ports.pihole[1] }}:53/tcp"
      - "{{ compose_project_ports.pihole[1] }}:53/udp"
    environment:
      TZ: America/Los_Angeles
      WEBPASSWORD: "{{ pihole.admin.password }}"
      ADMIN_EMAIL: "{{ pihole.admin.email }}"
      PIHOLE_DNS_: "{{ pihole.dns }}"
      DNSSEC: "{{ pihole.dnssec }}"
      DNS_BOGUS_PRIV: "{{ pihole.dns_bogus_priv }}"
      DNS_FQDN_REQUIRED: "{{ pihole.dns_fqdn_required }}"
      VIRTUAL_HOST: "{{ pihole.virtual_host }}"
      WEBTHEME: default-darker
      DNSMASQ_LISTENING: all
    restart: always
    healthcheck:
      test: [CMD, curl, "{{ healthchecks.healthcheck }}"]
      timeout: 45s
      interval: "{{ healthchecks_defaults.ping.interval }}s"
      retries: 5
  pihole_exporter:
    image: ekofr/pihole-exporter:latest@sha256:604a2f5a4ba52960b213afb5591ff7c1cd8429d42b9841ddbeb5e30aff548e0e
    ports:
      - "{{ compose_project_ports.pihole_exporter[0] }}:9617"
    environment:
      PIHOLE_HOSTNAME: "{{ pihole_exporter.pihole_hostname }}"
      PIHOLE_PASSWORD: "{{ pihole.admin.password }}"
    restart: always
