---
version: "3"
services:
  ghost:
    image: ghost:latest@sha256:24c58a9f057f92551e1f51f79b3b8cebc71e0fa0450c4eed023fdea7a07a20ce
    volumes:
      - "{{ docker_volume_dirs.ghost[0] }}/config.production.json:/var/lib/ghost/config.production.json"
      - "{{ docker_volume_dirs.ghost[1] }}:/var/lib/ghost/content"
      - "{{ docker_volume_dirs.ghost[2] }}:/var/lib/ghost/node_modules"
    ports:
      - "{{ compose_project_ports[0] }}:2368"
    restart: always
  promtail:
    image: grafana/promtail:latest@sha256:130b6dd63277d99ce87560c0266c0c30d07bc15ba0a8a590d42215465d4f5363
    restart: always
    volumes:
      - /var/log/cloudflared.log:/var/log/cloudflared.log:ro
      - /var/log/journal:/var/log/journal:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - "{{ docker_volume_dirs.promtail[0] }}/config.yaml:/etc/promtail/config.yaml"
    command: -config.file=/etc/promtail/config.yaml
