version: "3.8"

services:
  yourspotifyapp:
    image: yooooomi/your_spotify_server@sha256:6367c4a118ce966d2f37b626a0c3450daf10659b3dfb24620c6368c2ee3f731f
    links:
      - yourspotifymongo
    depends_on:
      - yourspotifymongo
    env_file: secrets.env
    environment:
      - API_ENDPOINT=https://yourspotifyapp:8080
      - CLIENT_ENDPOINT=http://yourspotifyweb:3000
      - MONGO_ENDPOINT=mongodb://yourspotifymongo:27017/your_spotify
      # - CORS=http://yourspotifyweb:3000
      - CORS=all
    networks:
      - yourspotify
      - web
    deploy:
      restart_policy:
        condition: on-failure
      labels:
        traefik.enable: "true"
        traefik.docker.network: web
        traefik.http.routers.yourspotifyapi.rule: Path(`trends-spotify-cluster.${CF_DOMAIN}/api`)
        traefik.http.routers.yourspotifyapi.entrypoints: https
        traefik.http.routers.yourspotifyapi.tls.certresolver: cloudflare
        traefik.http.services.yourspotifyapi.loadbalancer.server.port: 8080

  yourspotifymongo:
    image: mongo:latest@sha256:6f55a078e025aa29fea2826c82f67ff2f774b82efd816c4c30bbfe67904f0bb8
    volumes:
      - /mnt/yourspotify/mongo:/data/db
    networks:
      - yourspotify
    deploy:
      restart_policy:
        condition: on-failure

  yourspotifyweb:
    image: yooooomi/your_spotify_client@sha256:efe20e90bbfdad1b45bc62ef19cf73c63f1c8ddec52d838efe61a81b99daf1d1
    environment:
      - API_ENDPOINT=https://trends-spotify-cluster.${CF_DOMAIN}/api
    depends_on:
      - yourspotifyapp
      - traefik
    networks:
      - yourspotify
      - web
    deploy:
      restart_policy:
        condition: on-failure
      labels:
        traefik.enable: "true"
        traefik.docker.network: web
        traefik.http.routers.yourspotify.rule: Host(`trends-spotify-cluster.${CF_DOMAIN}`)
        traefik.http.routers.yourspotify.entrypoints: https
        traefik.http.routers.yourspotify.tls.certresolver: cloudflare
        traefik.http.services.yourspotify.loadbalancer.server.port: 3000

networks:
  yourspotify:
    attachable: true
  web:
    external: true
