version: "3.8"

services:
  yourspotifyapp:
    image: yooooomi/your_spotify_server@sha256:86f94765c82b2e70778961a05df9dc83c500797d463a3dc37593c35f0e8d1635
    links:
      - yourspotifymongo
    depends_on:
      - yourspotifymongo
    env_file: secrets.env
    environment:
      - API_ENDPOINT=https://yourspotifyapp:8080
      - CLIENT_ENDPOINT=http://yourspotifyweb:3000
      - MONGO_ENDPOINT=mongodb://yourspotifymongo:27017/your_spotify
      # - CORS=http://yourspotifyweb:3000
      - CORS=all
    networks:
      - yourspotify
      - web
    deploy:
      restart_policy:
        condition: on-failure
      labels:
        traefik.enable: "true"
        traefik.docker.network: web
        traefik.http.routers.yourspotifyapi.rule: Path(`trends-spotify-cluster.${CF_DOMAIN}/api`)
        traefik.http.routers.yourspotifyapi.entrypoints: https
        traefik.http.routers.yourspotifyapi.tls.certresolver: cloudflare
        traefik.http.services.yourspotifyapi.loadbalancer.server.port: 8080

  yourspotifymongo:
    image: mongo:latest@sha256:82a55eb6d60997007ff390087d4e064218d477e9611a7becd78664a2ab490eff
    volumes:
      - /mnt/yourspotify/mongo:/data/db
    networks:
      - yourspotify
    deploy:
      restart_policy:
        condition: on-failure

  yourspotifyweb:
    image: yooooomi/your_spotify_client@sha256:64687f8ba39e795a552e831c47347fae47ffb5bafd73517be8131bbebfcfd2a8
    environment:
      - API_ENDPOINT=https://trends-spotify-cluster.${CF_DOMAIN}/api
    depends_on:
      - yourspotifyapp
      - traefik
    networks:
      - yourspotify
      - web
    deploy:
      restart_policy:
        condition: on-failure
      labels:
        traefik.enable: "true"
        traefik.docker.network: web
        traefik.http.routers.yourspotify.rule: Host(`trends-spotify-cluster.${CF_DOMAIN}`)
        traefik.http.routers.yourspotify.entrypoints: https
        traefik.http.routers.yourspotify.tls.certresolver: cloudflare
        traefik.http.services.yourspotify.loadbalancer.server.port: 3000

networks:
  yourspotify:
    attachable: true
  web:
    external: true
