version: "3.8"

services:
  yourspotifyapp:
    image: yooooomi/your_spotify_server@sha256:73a67b06ad9566ee7df6138dce56358cdea499d8c7fa4aedc8f1d1bc8a9baada
    links:
      - yourspotifymongo
    depends_on:
      - yourspotifymongo
    env_file: secrets.env
    environment:
      - API_ENDPOINT=https://yourspotifyapp:8080
      - CLIENT_ENDPOINT=http://yourspotifyweb:3000
      - MONGO_ENDPOINT=mongodb://yourspotifymongo:27017/your_spotify
      # - CORS=http://yourspotifyweb:3000
      - CORS=all
    networks:
      - yourspotify
      - web
    deploy:
      restart_policy:
        condition: on-failure
      labels:
        traefik.enable: "true"
        traefik.docker.network: web
        traefik.http.routers.yourspotifyapi.rule: Path(`trends-spotify-cluster.${CF_DOMAIN}/api`)
        traefik.http.routers.yourspotifyapi.entrypoints: https
        traefik.http.routers.yourspotifyapi.tls.certresolver: cloudflare
        traefik.http.services.yourspotifyapi.loadbalancer.server.port: 8080

  yourspotifymongo:
    image: mongo:latest@sha256:7d1a1a613b41523172dc2b1b02c706bc56cee64144ccd6205b1b38703c85bf61
    volumes:
      - /mnt/yourspotify/mongo:/data/db
    networks:
      - yourspotify
    deploy:
      restart_policy:
        condition: on-failure

  yourspotifyweb:
    image: yooooomi/your_spotify_client@sha256:a39557a0772a825e6d0f00de31ce813771a2f158be718b40ec58eb3aa8bd76c3
    environment:
      - API_ENDPOINT=https://trends-spotify-cluster.${CF_DOMAIN}/api
    depends_on:
      - yourspotifyapp
      - traefik
    networks:
      - yourspotify
      - web
    deploy:
      restart_policy:
        condition: on-failure
      labels:
        traefik.enable: "true"
        traefik.docker.network: web
        traefik.http.routers.yourspotify.rule: Host(`trends-spotify-cluster.${CF_DOMAIN}`)
        traefik.http.routers.yourspotify.entrypoints: https
        traefik.http.routers.yourspotify.tls.certresolver: cloudflare
        traefik.http.services.yourspotify.loadbalancer.server.port: 3000

networks:
  yourspotify:
    attachable: true
  web:
    external: true
