---
version: "3"
services:
  prometheus:
    image: prom/prometheus:latest@sha256:9309deb7c981e8a94584d9ed689fd62f7ac4549d816fd3881550311cf056a237
    restart: always
    volumes:
      - "{{ docker_volume_dirs.prometheus[0] }}/prometheus.yml:/etc/prometheus/prometheus.yml"
      - "{{ docker_volume_dirs.prometheus[1] }}:/prometheus" # todo: chown this after creation on host: chown 65534:65534
    ports:
      - "{{ compose_project_ports.prometheus[0] }}:{{ prometheus.internal_port }}"
  loki:
    image: grafana/loki:latest@sha256:7d44535954d6099f032c477e1baafdc4be5e3d4ee5cd584117963d364fd74ded
    restart: always
    volumes:
      - "{{ docker_volume_dirs.loki[0] }}/local-config.yaml:/etc/loki/local-config.yaml"
    ports:
      - "{{ compose_project_ports.loki[0] }}:3100"
  influxdb:
    image: influxdb:2.7@sha256:6384d9afc9906066aac379518d4fad849da0a8e29fa001d9d656b3b68ad7c473
    restart: always
    volumes:
      - "{{ docker_volume_dirs.influxdb[0] }}:/var/lib/influxdb"
    ports:
      - "{{ compose_project_ports.influxdb[0] }}:{{ influxdb.internal_port }}"
  varken:
    image: boerderij/varken:latest@sha256:784aaf577c822a3e69c5b2792e0422896c8cdb0455e584cd5a4e46bca789848d
    restart: always
    depends_on:
      - influxdb
    volumes:
      - "{{ docker_volume_dirs.varken[0] }}:/config"
    environment:
      - TZ=America/Los_Angeles
  grafana:
    image: grafana/grafana-oss:latest@sha256:2aa6e216f8674425d587bab7b692a941a579252f51de2f97a2a8c837e0f5e63a
    restart: always
    volumes:
      - "{{ docker_volume_dirs.grafana[0] }}/grafana.ini:/etc/grafana/grafana.ini"
      - "{{ docker_volume_dirs.grafana[1] }}:/var/lib/grafana"
      - "{{ docker_volume_dirs.grafana[2] }}:/var/lib/grafana/plugins"
      - "{{ docker_volume_dirs.grafana[3] }}:/etc/grafana/provisioning"
    ports:
      - "{{ compose_project_ports.grafana[0] }}:3000"
    depends_on:
      - prometheus
      - loki
      - influxdb
      - varken
    environment:
      GF_INSTALL_PLUGINS: "{{ grafana.plugins }}"
      GF_DEFAULT_INSTANCE_NAME: grafana
      GF_SECURITY_ADMIN_USER: "{{ grafana.admin.username }}"
      GF_SECURITY_ADMIN_PASSWORD: "{{ grafana.admin.password }}"
      GF_SMTP_ENABLED: "true"
      GF_SMTP_HOST: "{{ grafana.smtp.host }}"
      GF_SMTP_PORT: "{{ grafana.smtp.port }}"
      GF_SMTP_USER: "{{ grafana.smtp.username }}"
      GF_SMTP_PASSWORD: "{{ grafana.smtp.password }}"
      GF_SMTP_SKIP_VERIFY: "false"
      GF_SMTP_FROM_ADDRESS: "{{ grafana.smtp.from }}"
      GF_USERS_VERIFY_EMAIL_ENABLED: "true"
      GF_EMAILS_WELCOME_EMAIL_ON_SIGNUP: "true"
